<h1>User Details</h1>

<div class="card bg-light mb-3 card-body results-block">
    <table class="col-md-12">
        <tbody>
            <tr>
            <td><strong>Name: </strong> <%= @user.full_name %></td>
            <td><strong>Email: </strong> <%= @user.email %></td>
            <td>
            <% if current_user.not_friends_with?(@user.id) %>
            <%= link_to 'Follow', friendships_path(friend: @user), class: "btn btn-sm btn-success", data: {turbo_method: :post} %>
            <% else %>
                <span class="badge text-bg-secondary">You are already friends</span>
                </td>
        <% end %>
        </tr>
        </tbody>
    </table>
</div>

<% if !@tracked_stocks.empty? %>
    <%= render 'stocks/list'%>
    <% else %>
    <p class='lead'>This user is not tracking any stocks.</p>
<% end %>